/* Override default */
.Draftail-Toolbar {
  background: transparent !important;
  border: none !important;
}
/* Override default */
.Draftail-Editor {
  border: none !important;
  width: 60% !important;
  margin-top: 100px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
/* Override default */
.public-DraftEditor-content {
  font-family: Georgia, "Times New Roman", Times, serif !important;
}
/* Override default */
.public-DraftEditorPlaceholder-inner {
  font-family: Georgia, "Times New Roman", Times, serif !important;
}

/* draftjs */
.draftjs-editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
}

.draftjs-editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

/* tiptap */
.row {
  display: flex;
  justify-content: space-between;
}
.col {
  width: 48%;
  border: 1px solid #ccc;
  padding: 20px;
}
.tbl {}
.cell {
  width: 48%;
  border: 1px solid #ccc;
  padding: 20px;
}
